.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    margin: 0 8px;
    padding: 10px;
    color: #ff0000;
    background-color: #e4e7e9;
}

.dialogItems .active{
    color: #ff0000;
}

.messages {
    padding: 10px;
    background-color: #e4e7e9;
}

.message {

}